---

---

<section class="container py-8">
  <h1 class="mb-8 text-4xl font-bold text-black">Color palette</h1>

  <div class="space-y-8 text-black">
    <!-- Blue -->
    <div class="flex items-center">
      <span class="w-24">Blue</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-10 text-black"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-20 text-black"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-30 text-white"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-40 text-white"
        >
          40
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-50 text-white"
        >
          50
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-60 text-white"
        >
          60
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-70 text-white"
        >
          70
        </div>
      </div>
    </div>

    <!-- Blue Light -->
    <div class="flex items-center">
      <span class="w-24">Blue Light</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-10 text-neutral-dark-10"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-20 text-neutral-dark-10"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-30 text-neutral-dark-10"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-40 text-neutral-dark-10"
        >
          40
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-50 text-neutral-dark-10"
        >
          50
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-60 text-neutral-dark-10"
        >
          60
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-blue-light-70 text-neutral-dark-10"
        >
          70
        </div>
      </div>
    </div>

    <!-- Teal -->
    <div class="flex items-center">
      <span class="w-24">Teal</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-10 text-white"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-20 text-white"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-30 text-white"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-50 text-white"
        >
          50
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-60 text-white"
        >
          60
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-70 text-white"
        >
          70
        </div>
      </div>
    </div>

    <!-- Teal Light -->
    <div class="flex items-center">
      <span class="w-24">Teal Light</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-10 text-neutral-dark-10"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-20 text-neutral-dark-10"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-30 text-neutral-dark-10"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-50 text-neutral-dark-10"
        >
          50
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-60 text-neutral-dark-10"
        >
          60
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-teal-light-70 text-neutral-dark-10"
        >
          70
        </div>
      </div>
    </div>

    <!-- Violet -->
    <div class="flex items-center">
      <span class="w-24">Violet</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-10 text-white"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-20 text-white"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-30 text-white"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-40 text-white"
        >
          40
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-50 text-white"
        >
          50
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-60 text-white"
        >
          60
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-violet-70 text-white"
        >
          70
        </div>
      </div>
    </div>

    <!-- Neutral Dark -->
    <div class="flex items-center">
      <span class="w-24">Neutral Dark</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-0 text-white"
        >
          0
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-10 text-white"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-20 text-white"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-30 text-white"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-40 text-white"
        >
          40
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-dark-50 text-white"
        >
          50
        </div>
      </div>
    </div>

    <!-- Neutral Light -->
    <div class="flex items-center">
      <span class="w-24">Neutral Light</span>
      <div class="flex flex-1">
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-0 text-neutral-dark-10"
        >
          0
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-10 text-neutral-dark-10"
        >
          10
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-20 text-neutral-dark-10"
        >
          20
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-30 text-neutral-dark-10"
        >
          30
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-40 text-neutral-dark-10"
        >
          40
        </div>
        <div
          class="flex h-12 w-full items-center justify-center bg-neutral-light-50 text-neutral-dark-10"
        >
          50
        </div>
      </div>
    </div>
  </div>
</section>
