---
import EpisodeTypeItem from "./episode-type-item.astro";
import type { EpisodeType } from "./episode-type-item.astro";

const episodes: EpisodeType[] = [
  {
    title: "Dev episodes",
    description:
      "An open, deep dive discussion around anything and everything related to programming & software engineering. We explore technical concepts, share real-world experiences, and discuss the latest trends in tech.",
    riveAnimation: "dev_episodes",
    link: { text: "Watch Dev Episodes", url: "#" },
  },
  {
    title: "MSS episodes",
    description:
      "In Moroccan Success Story episodes, we invite Moroccan icons in the IT and related fields to share their inspiring journeys and invaluable knowledge to empower and inspire the Moroccan tech community.",
    riveAnimation: "mss-episodes",
    link: { text: "Watch MSS Episodes", url: "#" },
  },
  {
    title: "Career episodes",
    description:
      "Explore career paths, job opportunities, and professional growth in the tech industry with our career-focused episodes.",
    riveAnimation: "career_episodes",
    link: { text: "Watch Career Episodes", url: "#" },
  },
  {
    title: "AI episodes",
    description:
      "Explore the latest advancements in artificial intelligence, machine learning, and deep learning with our AI-focused episodes.",
    riveAnimation: "ai_episodes",
    link: { text: "Watch AI Episodes", url: "#" },
  },
  {
    title: "AMA & tech news",
    description:
      "Stay up-to-date with the latest tech news and get your questions answered in our Ask Me Anything sessions.",
    riveAnimation: "ama_tech_news",
    link: { text: "Watch AMA  Episodes", url: "#" },
  },
  {
    title: "Book & article reviews",
    description:
      "Dive into insightful reviews of programming books and articles, exploring key concepts and practical applications in software development.",
    riveAnimation: "books_reviews",
    link: { text: "Watch Books Episodes", url: "#" },
  },
];
---

<section class="bg-[#F2F4F7] py-16">
  <div class="container mx-auto px-4">
    <h2 class="mb-8 text-heading-sm font-bold">Episodes On the Menu</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {episodes.map(episode => <EpisodeTypeItem episode={episode} />)}
    </div>
  </div>
</section>

<script>
  const riveAnimationsCanvas = document.querySelectorAll(
    "[data-animation]"
  ) as NodeListOf<HTMLCanvasElement>;
  riveAnimationsCanvas.forEach(animationCanvas => {
    //@ts-expect-error Rive is not defined in the global scope
    const r = new rive.Rive({
      src: `/animations/${animationCanvas.dataset.animation}.riv`,
      canvas: animationCanvas,
      autoplay: true,
      animation: "idle",

      onLoad: () => {
        r.resizeDrawingSurfaceToCanvas();
        animationCanvas.addEventListener("mouseenter", () => {
          const animationName =
            r.contents.artboards?.[0].animations?.[1] ?? "Timeline 1";
          r.play(animationName);
        });
      },
    });
  });
</script>
