---
import { type CollectionEntry } from "astro:content";
import { YouTube } from "@astro-community/astro-embed-youtube";
import { extractEpisodeContent } from "@/lib/podcast-utils";
import { Markdown } from "@astropub/md";

type Props = {
  episode: CollectionEntry<"podcast">;
};

const { episode } = Astro.props;

const episodeContent = extractEpisodeContent(episode.body ?? "");

// const { Content } = await render(episode);
---

<div class="pl-2">
  <div
    class="aspect-w-16 aspect-h-9 relative m-auto aspect-video w-full rounded-lg shadow-lg duration-300 hover:translate-y-3"
  >
    <YouTube
      id={episode.data.youtube}
      posterQuality="high"
      class="aspect-w-16 aspect-h-9 aspect-video w-full max-w-[1000px] rounded-lg"
    />
  </div>
  <div class="p-4 py-12">
    <article class="prose">
      <Markdown of={episodeContent.description} />
      <Markdown of={episodeContent.notes} />
    </article>
  </div>
</div>
