---
import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";
import EpisodesListItem from "./episodes-list-item.astro";
import { getPodcastCategories } from "@/lib/podcast-utils";

const podcast = await getCollection("podcast");
const sortedPodcast = podcast.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);

const categories = getPodcastCategories(sortedPodcast).sort(
  (a, b) => b.count - a.count
);
---

<div
  class="max mx-auto w-full max-w-[430px] overflow-hidden rounded-lg bg-[#E2E7EE] p-4 shadow-md"
>
  <div class="pb-4">
    <div class="relative">
      <input
        type="text"
        placeholder="Search episodes"
        class="w-full rounded-full bg-white py-2 pl-10 pr-4 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <Icon
        name="search"
        class="absolute left-3 top-2.5 h-5 w-5 text-gray-400"
      />
    </div>

    <div class="mt-4 flex flex-wrap gap-2">
      {
        categories.map(category => (
          <span class="rounded-full bg-white px-3 py-1 text-sm font-medium uppercase text-gray-700">
            {category.name}({category.count})
          </span>
        ))
      }
    </div>
  </div>

  <ul class="space-y-2">
    {sortedPodcast.map(episode => <EpisodesListItem episode={episode} />)}
  </ul>
</div>
