---
import { Image } from "astro:assets";
import heroImage from "@/assets/podcast/hero-image.png";
import { Button } from "../button";
import Header from "../header.astro";
import { Icon } from "astro-icon/components";
---

<section class="relative overflow-hidden bg-[#D4E3DE]">
  <div class="absolute inset-0 z-0">
    <div class="bg-grid-pattern absolute inset-0 opacity-10"></div>
  </div>
  <Header />
  <div class="container relative z-10 mx-auto px-4 pt-16">
    <div class="flex flex-col items-center lg:flex-row">
      <div class="z-10">
        <h1 class="font-sans text-title font-bold">
          A podcast with awesome IT geeks, In Darija!
        </h1>
        <p class="my-8 max-w-[600px] font-sans text-label-sm font-thin">
          At GeeksBlaBla podcast, is where we host brilliant IT people to
          discuss, highlight and share the latest technology topics
        </p>
        <div class="flex space-x-4">
          <Button>
            Watch Podcast <Icon name="arrow-right" class="ml-2 rotate-45" />
          </Button>
          <Button variant="outline">
            Surprise me <Icon name="arrow-right" class="ml-2" />
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="container pointer-events-none relative z-20 mx-auto -mt-28 px-4">
    <Image
      src={heroImage}
      alt="Hero Illustration showing various IT-related icons and activities"
      class="w-full"
    />
  </div>
</section>

<style>
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #000 1px, transparent 1px),
      linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 200px 200px;
  }
</style>
