---
import { Button, ButtonLink } from "../button";
import Header from "../header.astro";
import { Icon } from "astro-icon/components";
import HeroAnimation from "./hero-animation.astro";
---

<section class="relative overflow-hidden bg-[#D4E3DE]">
  <div class="absolute inset-0 z-0">
    <div class="bg-grid-pattern absolute inset-0 opacity-10"></div>
  </div>
  <Header />
  <div class="container relative z-10 mx-auto px-4 pt-16">
    <div class="flex flex-col items-center lg:flex-row">
      <div class="z-10">
        <h1 class="max-w-screen-lg font-sans text-title font-bold">
          A podcast with awesome <br /> IT geeks, In Darija!
        </h1>
        <p class="my-8 max-w-[600px] font-sans text-label-sm font-thin">
          At GeeksBlaBla podcast, is where we host brilliant IT people to
          discuss, highlight and share the latest technology topics.
          <br />
          Join us every Sunday!
        </p>
        <div class="flex space-x-4 py-4">
          <ButtonLink href="/podcast" variant="secondary">
            Watch Podcast <Icon name="arrow-right" class="ml-2 rotate-45" />
          </ButtonLink>
          <Button variant="outline">
            Surprise me <Icon name="arrow-right" class="ml-2" />
          </Button>
        </div>
      </div>
    </div>
  </div>
  <div class="container pointer-events-none relative z-20 mx-auto -mt-36 px-4">
    <HeroAnimation />
  </div>
</section>

<style>
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #000 1px, transparent 1px),
      linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 200px 200px;
  }
</style>
