@import "styles/index";
.suggest {
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @include breakpoint(mobileonly) {
    flex-wrap: wrap;
  }

  form {
    width: 400px;
    background: var(--secondary-bg-color);
    padding: 20px 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    @include breakpoint(mobileonly) {
      position: relative;
    }
    h1 {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
    }
  }

  .input {
    border: 1px solid var(--text-color); // rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    //border-radius: 15px;
    width: 100%;
    margin: 20px 0px 5px 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    label {
      color: "#FFF";
      font-size: 16px;
      line-height: 24px;
      padding: 10px 5px;
    }
    textarea {
      background-color: transparent;
      font-size: 16px;
      line-height: 24px;
      color: var(--heading-color); // rgba(255, 255, 255, 0.6);
      border: 0px;
      &::placeholder {
        color: var(--text-color);
      }
    }
    .desc {
      font-size: 14px;
      line-height: 18px;
      align-self: flex-start;
    }
  }

  button {
    margin-top: 2rem;
    margin-left: 0 !important;
  }

  .list {
    flex: 1;
    padding-left: 30px;
    @include breakpoint(mobileonly) {
      padding-left: 0px;
      padding-top: 2rem;
    }
  }

  .suggest-card {
    width: 100%;
    border-radius: 8px;
    background: var(--secondary-bg-color); // rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    margin-bottom: 16px;
    display: flex;
    align-content: center;
    align-items: center;
    p {
      padding: 20px 0px;
    }
    .icon {
      display: flex;
      flex-direction: column;
      padding: 20px !important;
      padding: auto;
      cursor: pointer;
      text-align: center;

      svg path {
        fill: var(--text-color);
      }
    }
  }
}

.login-popup {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
  }
  .actions {
    margin: auto;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    font-size: 13px;
    margin: 10px 0px;
    text-align: center;
  }
}

.web-only {
  visibility: visible;
  @include breakpoint(mobileonly) {
    visibility: hidden;
  }
}
.mobile-only {
  visibility: hidden;
  @include breakpoint(mobileonly) {
    visibility: visible;
  }
}

.logout {
  display: flex;
  justify-content: flex-end;

  a {
    color: #8b8b8b;
    cursor: pointer;
  }
}
