---
import Layout from "@/components/layout.astro";
import Header from "@/components/header.astro";
---

<Layout>
  <Header />
  <div class="container mx-auto px-4">
    <h1>Blog</h1>
  </div>
</Layout>
