@import "styles/index";

// top episodes component

$gradient-1: linear-gradient(90deg, #a109d5 0%, #d9147d 100%);
$gradient-2: linear-gradient(90deg, #9d09d0 0%, #6146bd 100%);
$gradient-3: linear-gradient(90deg, #09d0af 0%, #4695bd 100%);

.top-episodes {
  background-position-y: -1px;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--secondary-bg-color);
  padding-top: 10rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  .container {
    padding: 2rem 0rem;
  }

  .episodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    text-transform: uppercase;
    color: var(--text-color);
    text-align: center;
    opacity: 0.5;
  }
  .item {
    svg {
      margin: 8px;
    }

    cursor: pointer;
    background: var(--main-bg-color);
    width: 300px;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    $border: 5px;
    position: relative;
    background-clip: padding-box;
    //border: solid $border transparent;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in;

    &:focus,
    &:hover {
      transform: translateY(-2%) scale(1.02);
      box-shadow: 0px 20px 14px rgba(0, 0, 0, 0.25);
    }

    &:before {
      content: "";
      position: absolute;
      //height: 5px;
      top: -6px;
      height: 6px;
      width: 95%;

      //margin-top: -$border;
      border-radius: 10px 10px 0px 0px;
    }
  }
  .item-1 {
    &:before {
      background: $gradient-1;
    }
  }
  .item-2 {
    &:before {
      background: $gradient-2;
    }
  }
  .item-3 {
    &:before {
      background: $gradient-3;
    }
  }
}
