.video-player {
  // min-height: calc(100vw / 2 * 0.5);
  // max-height: 500px;
  position: relative;
  .loader {
    position: absolute;
    top: 0;
    left: 0;
  }

  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
