@import "../../lib/index";

.episode {
  width: 60%;
  @include breakpoint(mobileonly) {
    width: 100%;
  }
  .label {
    background: rgba(0, 0, 0, 0.6);
    font-family: "Open sans";
    font-size: 14px;
    line-height: 18px;
    color: #d9147d;
    padding: 4px 8px;
    border-radius: 5px 5px 0px 0px;
  }
  img {
    width: 100%;
  }
  .video {
    //min-height: 400px;
    position: relative;
    .placeholder {
      background: rgba(255, 255, 255, 0.1);
      //height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .info {
    font-family: Open Sans;
    margin-top: 24px;
    display: flex;
    @include breakpoint(mobileonly) {
      flex-wrap: wrap;
    }
    div {
      @include breakpoint(mobileonly) {
        width: 100%;
      }
      margin: 8px 0px;
      width: 50%;
      h2 {
        font-size: 24px;
        line-height: 30px; /* identical to box height */
        color: #ffffff;
        margin-bottom: 5px;
      }
      h5 {
        font-size: 15px;
        line-height: 22px; /* identical to box height, or 147% */
        color: #ffffff;
        opacity: 0.6;
      }
    }

    .description {
      font-family: "Open sans";
      font-size: 14px;
      line-height: 18px;
      width: 50%;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 10px;
      @include breakpoint(mobileonly) {
        width: 100%;
      }
    }
  }
}
