@import "../../lib/index";
@import "./markdown.scss";
.episode {
  @include breakpoint(mobileonly) {
    width: 100%;
  }
  .label {
    background: rgba(0, 0, 0, 0.6);
    font-family: "Open sans";
    font-size: 14px;
    line-height: 18px;
    color: #d9147d;
    padding: 4px 8px;
    border-radius: 5px 5px 0px 0px;
  }

  .video {
    //min-height: 400px;
    position: relative;
    .placeholder {
      background: rgba(255, 255, 255, 0.1);
      //height: 400px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .title {
    margin: 15px 35px 0px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    h2 {
      display: inline-block;
      font-size: 40px;
      line-height: 45px; /* identical to box height */
      color: #ffffff;
      margin-bottom: 5px;
      margin-right: 30px;
    }
    h5 {
      display: inline-block;
      font-size: 13px;
      line-height: 22px; /* identical to box height, or 147% */
      color: #ffffff;
      opacity: 0.6;
    }
  }

  .bock-intro {
    margin: 5px 40px 20px 40px;
    display: block;
    opacity: 0.4;
  }
  .info {
    font-family: Open Sans;
    margin-top: 24px;
    display: flex;
  }
}
.notes {
  white-space: break-spaces;
}
.fb-video {
  iframe {
    border-radius: 40px 0px;
  }
}