.episode {
  width: 60%;
  min-width: 400px;
  img {
    width: 100%;
  }
  .info {
    margin-top: 24px;
    display: flex;
    div {
      width: 50%;
      h2 {
        font-size: 24px;
        line-height: 30px; /* identical to box height */
        color: #ffffff;
        margin: 8px 0px;
      }
      h5 {
        font-size: 15px;
        line-height: 22px; /* identical to box height, or 147% */
        color: #ffffff;
        opacity: 0.6;
      }
    }

    p {
      font-family: Apercu;
      font-size: 14px;
      line-height: 18px; /* or 129% */
      width: 50%;
      color: #ffffff;
      opacity: 0.6;
    }
  }
}
