.markdown-description {
  font-family: "Open sans";
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
    border-bottom: 2px solid #bfbfbf;
    margin-bottom: 24px;
    padding-bottom: 20px;
  }
  h5,
  p {
    margin-bottom: 24px;
    padding: 0;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
    //margin: 24px 0 6px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 21px;
  }
  h5 {
    font-size: 18px;
  }
  a {
    color: #61bfc1;
    margin: 0;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: #466b6c;
  }
  ul,
  ol {
    padding: 0;
    margin-bottom: 24px;
  }
  li {
    line-height: 24px;
  }
  li ul,
  li ul {
    margin-left: 24px;
  }
  p,
  ul,
  ol {
    font-size: 16px;
    line-height: 24px;
  }
  pre {
    padding: 0px 24px;
    max-width: 800px;
    white-space: pre-wrap;
  }
  code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    line-height: 1.5;
    font-size: 13px;
  }
  aside {
    display: block;
    float: right;
    width: 390px;
  }
  blockquote {
    border-left: 0.5em solid #eee;
    padding: 0 2em;
    margin-left: 0;
    max-width: 476px;
  }
  blockquote cite {
    font-size: 14px;
    line-height: 20px;
    color: #bfbfbf;
  }
  blockquote cite:before {
    content: "\2014 \00A0";
  }

  blockquote p {
    color: #666;
    max-width: 460px;
  }
  hr {
    //width: 540px;
    text-align: left;
    margin: 0 auto 0 0;
    color: #fff;
  }
}
