// background colors

$main-bg-color: #111233;
$secondary-bg-color: #1d1e4f;

$text-color: #7577a6;
$heading-color: #fff;

$main-gradient: linear-gradient(90deg, #a109d5 0%, #d9147d 100%);

// font vars
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 17px;
$mode: 1.4rem;
