@import "./reset.scss";
@import "./_vars";
@import "./mixins.scss";
@import "./font.scss";

body {
  background: $main-bg-color;
  color: $text-color;
}
.container {
  width: 100%; /* For small screens */
  max-width: 1240px; /* For large screens */
  margin: auto; /* Center the container in the viewport */
  @include breakpoint(mobileonly) {
    width: 96%;
    padding-right: 2%;
    padding-left: 2%;
  }
}

.button {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 18px 40px;
  color: #ffffff;
  text-decoration: none;
  background: linear-gradient(90deg, #a109d5 0%, #d9147d 100%);
  border-radius: 45px;
  border: 0px;
  min-width: 140px;
  margin: 1rem;
  &.outline {
    color: #ffffff;
    background: transparent;
    border: #ffffff 1px solid;
  }
  svg {
    margin-right: 8px;
  }
}

a {
  color: #d1128a;
  text-decoration: none;
  cursor: pointer;
}
