@import "./vars";
@import "./mixins.scss";
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  font-family: Lato;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1 * $mode;
  color: var(--text-color);
}

h1 {
  font-size: 1.912em;
  line-height: 1.912 * $mode; /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.616em;
  line-height: 1.616 * $mode;
  //line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
  font-size: 1.471em;
  line-height: 1.471 * $mode;
  //line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.243em;
}
h6 {
  font-size: 1.132em;
}

h4,
h5,
h6 {
  //line-height: calc(18px + 0.2vw); /* Responsive Vertical Rhythm */
  line-height: 1.243 * $mode;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc(12px + 1.05vw) 0; /* Responsive margins */
  color: var(--heading-color);
}
p {
  margin-bottom: 0.3rem;
  margin-top: 0.3rem;
}
