@import "./vars";
body {
  font-family: Roboto;
  font-size: calc(12px + 0.4vw); /* Responsive base font size */
  line-height: calc(12px + 0.7vw); /* Responsive Vertical Rhythm */
  //font-size: 18px;
  color: $text-color;
}

h1 {
  font-size: 1.912em;
  line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.616em;
  line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
  font-size: 1.471em;
  line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 {
  font-size: 1.3em;
}
h5 {
  font-size: 1.243em;
}
h6 {
  font-size: 1.132em;
}

h4,
h5,
h6 {
  line-height: calc(18px + 0.2vw); /* Responsive Vertical Rhythm */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: calc(12px + 1.05vw) 0; /* Responsive margins */
  color: $heading-color;
}
