---
import { getCollection } from "astro:content";
import { getAllLinks } from "@/lib/podcast-utils";

const podcast = await getCollection("podcast");
const allLinks = getAllLinks(podcast);
---

<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="mb-12">
      <h3 class="mb-8 text-heading-sm font-bold">
        Links ({allLinks.length})
      </h3>
      <p class="text-body-sm">
        A list of all links mentioned in the geeksblabla podcast.
      </p>
      <div class="flex flex-col space-y-2 pt-4">
        {
          allLinks.map(link => (
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-600 hover:underline"
            >
              {link.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
