---
import { getCollection } from "astro:content";
import { extractAllGuestsAndHosts } from "@/lib/podcast-utils";

const podcast = await getCollection("podcast");
const contributors = extractAllGuestsAndHosts(podcast);
---

<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="mb-12">
      <h3 class="mb-8 text-heading-sm font-bold">
        Our contributors ({contributors.length})
      </h3>
      <p class="text-body-sm">
        A list of all people appeare at least one time in the geeksblabla
        podcast or blablaconf.
      </p>
      <div class="flex flex-col space-y-2 pt-4">
        {
          contributors.map(contributor => (
            <a
              href={contributor.url}
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-600 hover:underline"
            >
              {contributor.name} ({contributor.count})
            </a>
          ))
        }
      </div>
    </div>
  </div>
</section>
