---
import TimelineItem, { type TimelineItemType } from "./timeline-item.astro";
import devCImage from "@/assets/about/devc-1.png";

const timelineItems: Array<TimelineItemType & { description: string }> = [
  {
    title: "DevC Casa is born",
    date: "Jan 2017",
    description:
      "The Facebook Developer Circles program is a community-driven initiative designed to foster collaboration and knowledge-sharing among developers worldwide. <br /> <br /> Developer Circles Casablanca was one of the few communities launched with the aim to provide a platform for Moroccan developers to connect locally, learn new skills, collaborate on projects, and advance their careers through workshops, meetups, and online forums.",
    image: devCImage,
  },
  {
    title: "Geeksblabla, as a DevC Casa podcast",
    date: "May 2018",
    description:
      "Within DevC Casablanca, we ignite a passion for learning, foster vibrant knowledge exchange, and strengthen our community bonds. Our transformative journey took an exciting turn with the launch of GeeksBlabla, a groundbreaking podcast. <br/><br/> It was more than just a virtual gathering—it became a symbol for deep, meaningful conversations within the IT field during the sacred nights of Ramadan.",
    image: devCImage,
  },
  {
    title: "Geeksblabla, the community",
    date: "July 2019",
    description:
      "The Facebook Developer Circles program is a community-driven initiative designed to foster collaboration and knowledge-sharing among developers worldwide. <br/><br/> Developer Circles Casablanca was one of the few communities launched with the aim to provide a platform for Moroccan developers to connect locally, learn new skills, collaborate on projects, and advance their careers through workshops, meetups, and online forums.",
    image: devCImage,
  },
  {
    title: "Blabla Conf",
    date: "Oct 2020",
    description:
      "In 2020, as the world faced closures and Morocco was under strict lockdown amid a global pandemic, With in-person gatherings put on hold, virtual events became a lifeline. GeeksBlabla offered virtual free IT conferences, workshops, and fun entertainment sessions, providing a constant source of connection during challenging times. <br/><br/> Seeing the need for a boost in morale, we launched Blabla Conf, an online initiative aimed at serving an even larger audience. Over five days of intense learning, knowledge sharing and fun, #blablaconf brought together over 1500 participants from within our community.",
    image: devCImage,
  },
  {
    title: "Episode 100",
    date: "Dec 2021",
    description:
      "After more than 3 years of consistent work on the podcast, we have reached the milestone of hosting 100 episodes. <br/><br/> This achievement proves that the concept is strong and has had a significant impact on the Moroccan community with more than 100 episodes of highly valuable content and over 200 guests across the past 100 episodes.",
    image: devCImage,
  },
  {
    title: "GeeksBlabla as NGO officially!",
    date: "Jan 2024",
    description:
      "As we have grown in the past few years and maintained multiple initiatives, as well as expanded our core team, creating an official NGO for the community was a must to help us make a better impact and establish a stronger foundation for our future endeavors.",
    image: devCImage,
  },
];
---

<section id="history">
  <div class="container mx-auto">
    <h2
      class="mb-6 text-center text-heading-lg font-bold text-neutral-dark-10 md:text-left"
    >
      About Us
    </h2>

    {
      timelineItems.map(item => (
        <TimelineItem {...item}>
          <p class="text-paragraph-xs text-neutral-dark-20">
            <Fragment set:html={item.description} />
          </p>
        </TimelineItem>
      ))
    }
  </div>
</section>
