---
import { Image } from "astro:assets";
---

<section id="history">
  <div class="container mx-auto">
    <!-- <div class="absolute inset-0 bg-no-repeat bg-center bg-contain w-full h-full" style="background-image: url('/public/about/path.png'); z-index: -1;"></div> -->

    <h2
      class="mb-6 text-center text-heading-lg font-bold text-neutral-dark-10 md:text-left"
    >
      About Us
    </h2>
    <div
      class="absolute inset-0 top-40 h-full w-full bg-contain bg-center bg-no-repeat"
      style="background-image: url('/public/about/path.png');"
    >
    </div>
    <!-- <div
        class="absolute left-1/3 top-0 h-full w-[2px] -translate-x-1/2 transform bg-gray-300"
      > -->
    <div class="flex items-center justify-center pt-20">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>

        <!-- Right section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              DevC Casa is born
            </h2>
            <p class="text-label-xs whitespace-nowrap">Jan 2017</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              Geeksblabla, as a DevC Casa podcast
            </h2>
            <p class="text-label-xs whitespace-nowrap">May 2018</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>

        <!-- Right section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>

        <!-- Right section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              DevC Casa is born
            </h2>
            <p class="text-label-xs whitespace-nowrap">Jan 2017</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              Geeksblabla, as a DevC Casa podcast
            </h2>
            <p class="text-label-xs whitespace-nowrap">May 2018</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>

        <!-- Right section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>

        <!-- Right section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              DevC Casa is born
            </h2>
            <p class="text-label-xs whitespace-nowrap">Jan 2017</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              Geeksblabla, as a DevC Casa podcast
            </h2>
            <p class="text-label-xs whitespace-nowrap">May 2018</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>

        <!-- Right section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center py-10">
      <div class="grid grid-cols-2 gap-4 bg-white">
        <!-- Left section -->
        <div class="flex items-center justify-center">
          <!-- Illustration goes here -->
          <Image
            class="mx-auto overflow-hidden rounded-t-[4px]"
            src="/public/devc-1.png"
            width={670}
            height={500}
            loading="lazy"
            alt="DevC Casa illustration"
          />
        </div>

        <!-- Right section -->
        <div class="p-8">
          <div class="flex items-start justify-between">
            <h2 class="text-heading-sm text-neutral-dark-30">
              DevC Casa is born
            </h2>
            <p class="text-label-xs whitespace-nowrap">Jan 2017</p>
          </div>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            The Facebook Developer Circles program is a community-driven
            initiative designed to foster collaboration and knowledge-sharing
            among developers worldwide.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            Developer Circles Casablanca was one of the few communities launched
            with the aim to provide a platform for Moroccan developers to
            connect locally, learn new skills, collaborate on projects, and
            advance their careers through workshops, meetups, and online forums.
          </p>
          <p class="mt-4 text-paragraph-xs text-neutral-dark-20">
            DevC Casa had great success and was one the largest and most active
            groups globally. A success that led to the creation of 2 other DevCs
            in Rabat and Marrakech.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
