---
interface Props {
  checked: boolean;
  label: string;
}
const { checked, label }: Props = Astro.props;
---

<div class="relative overflow-hidden">
  <input
    type="checkbox"
    class="peer absolute inset-x-0 top-0 z-10 h-12 w-full cursor-pointer opacity-0"
    checked={checked}
  />
  <div
    class="flex w-full items-center rounded-lg border border-[#C3CAD4] bg-white py-3 pl-5 pr-8"
  >
    <h2 class="font-semibold text-gray-700">
      {label}
    </h2>
  </div>
  <div
    class="absolute right-3 top-3 rotate-0 text-gray-500 transition-transform duration-500 peer-checked:rotate-180"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"></path>
    </svg>
  </div>
  <div
    class="mt-1 max-h-0 overflow-hidden rounded-lg border border-transparent bg-[#FAFBFD] peer-checked:max-h-fit peer-checked:border-[#C3CAD4]"
  >
    <div class="p-4">
      <p class="text-gray-700">
        <slot />
      </p>
    </div>
  </div>
</div>
