---
import FaqContent from "./faq-content.mdx";
---

<section class="bg-[#F2F4F7] py-16">
  <div class="main mx-auto px-4">
    <h2 class="text-3xl font-bold">FAQ</h2>
    <p class="text-paragraph-md">
      Here are some of the most frequently asked questions. <br />
      If you have any questions, please don't hesitate to contact us.
    </p>
    <div class="space-y-1 pt-4">
      <FaqContent />
    </div>
  </div>
</section>
