---
import FaqContent from "./faq-content.mdx";
---

<section class="bg-[#F2F4F7] py-16">
  <div class="main mx-auto px-4">
    <h2 class="text-heading-sm font-bold">FAQ</h2>
    <div class="space-y-1 pt-4">
      <FaqContent />
    </div>
  </div>
</section>
