---
import { getCollection } from "astro:content";
const gallery = await getCollection("gallery");
---

<section class="bg-[#F2F4F7] py-16">
  <div class="container mx-auto px-4">
    <h2 class="mb-6 text-heading-lg font-bold">Gallery</h2>
    <div class="overflow-hidden rounded-lg border border-neutral-dark-20">
      <div class="bg-[#FAFBFD] px-3 py-2">
        <svg
          width="50"
          viewBox="0 0 66 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="16" height="16" rx="8" fill="#C3CAD4"></rect>
          <rect x="25" width="16" height="16" rx="8" fill="#C3CAD4"></rect>
          <rect x="50" width="16" height="16" rx="8" fill="#C3CAD4"></rect>
        </svg>
      </div>
      <swiper-container
        slides-per-view="1"
        space-between="20"
        navigation="true"
        pagination="true"
        keyboard="true"
        class="swiper-container"
      >
        {
          gallery.map(image => (
            <swiper-slide>
              <img
                src={image.data.url}
                alt="Community Gallery"
                loading="lazy"
              />
            </swiper-slide>
          ))
        }
      </swiper-container>
    </div>
  </div>
</section>

<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<style>
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
