---

---

<div class="relative origin-bottom scale-[1.40]">
  <canvas id="canvas" class="w-full md:-mt-24"></canvas>
</div>

<script>
  //@ts-expect-error Rive is not defined in the global scope
  const r = new rive.Rive({
    src: "/animations/community_hero.riv",
    canvas: document.getElementById("canvas"),

    autoplay: true,
    artboard: "hero 2",
    stateMachines: "State Machine 1",
    // autoplay: true,
    onLoad: () => {
      // Ensure the drawing surface matches the canvas size and device pixel ratio
      r.resizeDrawingSurfaceToCanvas();
    },
  });
</script>
