---
import { ButtonLink } from "../button";
import Header from "../header.astro";
import { Icon } from "astro-icon/components";
import HeroAnimation from "./hero-animation.astro";
---

<section class="relative overflow-hidden bg-[#D3DAE5]">
  <div class="absolute inset-0 z-0 hidden lg:block">
    <div class="bg-grid-pattern absolute inset-0 opacity-10"></div>
  </div>
  <Header />
  <div class="container relative z-10 mx-auto pt-8 md:pt-16">
    <div class="flex flex-col items-center lg:flex-row">
      <div class="z-10">
        <h1
          class="motion-preset-slide-down block w-full max-w-screen-lg text-center font-sans text-heading-lg font-bold md:hidden md:text-left md:text-title"
        >
          Shaping the future of Moroccan IT community, one step at a time
        </h1>

        <div
          class="hidden w-full max-w-screen-lg text-center font-sans text-heading-lg font-bold md:block md:text-left md:text-title"
        >
          <p class="m-preset-typewriter-[22] motion-loop-once">
            Shaping the future of
          </p>
          <p
            class="m-preset-typewriter-[22] motion-delay-[700ms] motion-loop-once"
          >
            Moroccan IT community,
          </p>
          <p
            class="m-preset-typewriter-[18] motion-delay-[1400ms] motion-loop-once"
          >
            one step at a time
          </p>
        </div>
        <p
          class="motion-preset-slide-down my-8 max-w-[600px] text-center font-sans text-label-sm font-thin motion-delay-[1600ms] motion-ease-spring-smooth md:text-left"
        >
          Your journey from learning to leading unfolds: insightful Podcast,
          aspiring videos, cutting edge OSS projects, in depth conferences and
          many more.
        </p>
        <div class="flex justify-center space-x-4 py-4 md:justify-start">
          <ButtonLink
            href="#projects"
            className="motion-preset-slide-down motion-delay-[1800ms] motion-ease-spring-smooth"
          >
            Discover projects <Icon name="arrow-right" class="ml-2 rotate-45" />
          </ButtonLink>
          <ButtonLink
            variant="outline"
            className="motion-ease-spring-smoothhidden motion-preset-slide-down self-center motion-delay-[2000ms] md:flex"
          >
            Podcast <Icon name="arrow-right" class="ml-2" />
          </ButtonLink>
        </div>
      </div>
    </div>
  </div>
  <div
    class="container motion-preset-slide-up pointer-events-none relative z-20 mx-auto mt-2 px-4 motion-delay-[1800ms] motion-ease-spring-smooth md:-mt-36"
  >
    <HeroAnimation />
  </div>
</section>

<style>
  .bg-grid-pattern {
    background-image: linear-gradient(to right, #000 1px, transparent 1px),
      linear-gradient(to bottom, #000 1px, transparent 1px);
    background-size: 200px 200px;
  }
  /* custom typewriter animation based on tailwind motion but with some tweaks to make it work for our use case */
  .m-preset-typewriter-\[22\] {
    --motion-duration: 2500ms;
    --motion-typewriter-value: 22ch;
    animation:
      typing var(--motion-duration) steps(22) var(--motion-delay, 0ms) forwards,
      blink 0.4s step-end var(--motion-delay, 0ms) none;
    white-space: nowrap;
    border-right: 2px solid;
    border-color: transparent;
    font-family: monospace;
    overflow: hidden;
    width: 0;
  }
  .m-preset-typewriter-\[18\] {
    --motion-duration: 2000ms;
    --motion-typewriter-value: 18ch;
    animation:
      typing var(--motion-duration) steps(18) var(--motion-delay, 0ms) forwards,
      blink-last-line 0.4s step-end var(--motion-delay, 0ms) infinite;
    white-space: nowrap;
    border-right: 2px solid;
    border-color: transparent;
    font-family: monospace;
    overflow: hidden;
    width: 0;
  }
  @media screen and (prefers-reduced-motion: no-preference) {
    @keyframes typing {
      10% {
        width: 0;
      }
      40%,
      60% {
        width: calc(var(--motion-typewriter-value) + 1px);
      }
      100% {
        width: var(--motion-typewriter-value);
      }
    }
  }
  @keyframes blink {
    0% {
      border-color: black;
    }
    50% {
      border-color: black;
    }
    95% {
      border-color: black;
    }
    100% {
      border-color: transparent;
    }
  }
  @keyframes blink-last-line {
    50% {
      border-color: black;
    }
    100% {
      border-color: black;
    }
  }
</style>
