---

---

<div class="relative origin-bottom scale-[1.40]">
  <canvas id="canvas" class="w-full md:-mt-24"></canvas>
</div>

<!-- TODO: consider using canvas lit -->
<script is:inline src="https://unpkg.com/@rive-app/canvas@2.20.0"></script>
<script>
  import { Rive } from "@rive-app/canvas";
  const r = new Rive({
    src: "/animations/comm_hero_graphics.riv",
    canvas: document.getElementById("canvas") as HTMLCanvasElement,
    autoplay: true,
    onLoad: () => {
      // Ensure the drawing surface matches the canvas size and device pixel ratio
      r.resizeDrawingSurfaceToCanvas();
    },
  });
</script>
