@import "styles/index";

// home page

.hero {
  @include breakpoint(mobileonly) {
    margin-bottom: 3rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  margin: 3rem auto 3rem auto;
  text-align: left;
  display: flex;
  .crea {
    height: 100%;
    width: 100%;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    @include breakpoint(mobileonly) {
      max-width: 100%;
      text-align: center;
    }
  }
  h1 {
    @include fluid-type($min_width, $max_width, 33px, 72px);
    font-weight: 600;
    line-height: 115%;
  }
  p {
    @include breakpoint(mobileonly) {
      max-width: 30rem;
    }

    margin-bottom: 2rem;
    margin-left: 0px;
    color: $heading-color;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    @include breakpoint(mobileonly) {
      justify-content: center;
    }
  }
}

// Statistics Component

.statistics {
  background-image: url(../../assets/patterns/1.back.svg);
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $secondary-bg-color;
  padding-top: 15rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item {
    margin: 1rem;
    padding: 0rem 1rem;
    height: 156px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../assets/stats_item.back.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 2.6rem;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: normal !important;
  }
  svg {
    margin-right: 30px;
  }
  p {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}

// Episodes Types Component

.episodes-types {
  background-image: url(../../assets/patterns/2.back.svg);
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  //background-color: $secondary-bg-color;
  .item {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    &.reverse {
      @include breakpoint(mobileonly) {
        flex-direction: column-reverse;
      }
    }
    .crea {
      @include breakpoint(mobileonly) {
        width: 100%;
      }
    }
    div {
      margin: 5rem 0px;
    }
    h1 {
      position: relative;
    }
    h1::after {
      content: "";
      height: 3px;
      width: 50px;
      display: block;
      background: $main-gradient;
      top: -10px;
      position: absolute;
    }
    p {
      max-width: 400px;
    }
  }
}

// top episodes component

$gradient-1: linear-gradient(90deg, #a109d5 0%, #d9147d 100%);
$gradient-2: linear-gradient(90deg, #9d09d0 0%, #6146bd 100%);
$gradient-3: linear-gradient(90deg, #09d0af 0%, #4695bd 100%);

.top-episodes {
  background-image: url(../../assets/patterns/1.back.svg);
  background-position-y: -1px;
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: $secondary-bg-color;
  padding-top: 10rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  .container {
    padding: 2rem 0rem;
  }

  .episodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    text-transform: uppercase;
    color: $text-color;
    text-align: center;
    opacity: 0.5;
  }
  .item {
    svg {
      margin: 8px;
    }

    cursor: pointer;
    background: $main-bg-color;
    width: 300px;
    margin: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 16px;
    $border: 5px;
    position: relative;
    background-clip: padding-box;
    //border: solid $border transparent;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

    &:before {
      content: "";
      position: absolute;
      //height: 5px;
      top: -6px;
      height: 6px;
      width: 95%;

      //margin-top: -$border;
      border-radius: 10px 10px 0px 0px;
    }
  }
  .item-1 {
    &:before {
      background: $gradient-1;
    }
  }
  .item-2 {
    &:before {
      background: $gradient-2;
    }
  }
  .item-3 {
    &:before {
      background: $gradient-3;
    }
  }
}

// reviews Component

.notification {
  padding: 8rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $secondary-bg-color;
  @include breakpoint(mobileonly) {
    padding: 6rem 0rem;
  }
  .content {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);

    position: relative;
    z-index: 2;
    background: $main-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    max-width: 45rem;
    min-width: 35rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 16px;
    background-clip: padding-box;
    &::before {
      content: "";
      background: #090a1e;
      top: -10px;
      height: 20px;
      width: 90%;
      position: absolute;
      top: -20px;
      height: 20px;
      border-radius: 26px 26px 0px 0px;
    }

    @include breakpoint(mobileonly) {
      min-width: auto;
    }
  }

  text-align: center;
  h1 {
    font-size: 2rem;
  }
  .notif {
    max-width: 800px;
    z-index: 5;
  }
}
