---
import type { ProjectType } from "./project-item.astro";
import ProjectItem from "./project-item.astro";
import awesomeMoroccoImage from "@/assets/projects/awesome-morocco.svg";
import blablaconfImage from "@/assets/projects/blablaconf.svg";
import geeksblablaImage from "@/assets/projects/geeksblabla-podcast.svg";
import stateOfDevImage from "@/assets/projects/state-of-dev.svg";

const projects: ProjectType[] = [
  {
    title: "Geeksblabla podcast",
    description:
      "The community podcast is where interesting and funny conversations around a wide range of awesome tech topics with our amazing community members. Join us every Sunday at 8 PM and prepare yourself to be inspired and educated as we discuss the hottest tech topics in Moroccan Darija.",
    image: geeksblablaImage,
    links: [
      { text: "Watch the latest episode", url: "#" },
      { text: "Be a guest", url: "#" },
      { text: "Read more", url: "#" },
    ],
  },
  {
    title: "BlablaConf",
    description:
      "Our community's annual conference is designed for developers, by developers. With our speakers from various backgrounds and completely in Moroccan Darija, everyone has the opportunity to speak and share knowledge.",
    image: blablaconfImage,
    badge: "2024",
    links: [
      { text: "Watch the latest edition", url: "#" },
      { text: "Blablaconf.ma", url: "#" },
      { text: "Read more", url: "#" },
    ],
  },
  {
    title: "Awesome Morocco",
    description:
      "One place to collect and highlight the outstanding work of Moroccan developers. Discover open-source projects, blog posts, podcasts, communities, books, and YouTube channels created by talented Moroccan developers. Explore their contributions and share your work with us.",
    image: awesomeMoroccoImage,
    links: [
      { text: "Discover the list", url: "#" },
      { text: "Read more", url: "#" },
    ],
  },
  {
    title: "State of dev",
    description:
      "A survey launched 3 years ago where developers from Morocco 🇲🇦 tell us about their job satisfaction, salaries, community contribution, how they learn and level up, which tools they're using, and what they want to learn next.",
    image: stateOfDevImage,
    links: [
      { text: "Stateofdev.ma", url: "#" },
      { text: "Read more", url: "#" },
    ],
  },
];

console.log(projects);
---

<section class="py-16" id="projects">
  <div class="container mx-auto px-4">
    <h2 class="mb-8 text-heading-sm font-bold">Projects</h2>
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2">
      {projects.map(project => <ProjectItem project={project} />)}
    </div>
  </div>
</section>
