@import "styles/index";

// blabla page

.blablas {
  display: flex;
  align-self: flex-start;
  flex-grow: 1;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  @include breakpoint(mobileonly) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 0px;
  }
}

.categories {
  margin-top: 25px;
  @include breakpoint(mobileonly) {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
