@import "styles/index";
.next-ep {
  background: #000;
  padding: 1.45rem 0px;
  display: flex;
  @include breakpoint(mobileonly) {
    flex-wrap: wrap;
  }
  .item {
    margin: auto;
    @include breakpoint(mobileonly) {
      margin: 20px;
    }
    .next {
      font-family: "Open sans";
      font-size: 14px;
      line-height: 18px;
      color: #d31387;
      margin-bottom: 5px;
    }
    .title {
      font-family: "Open sans";
      font-size: 20px;
      line-height: 25px;

      color: #ffffff;
    }
    .time {
      font-family: "Open sans";
      font-size: 15px;
      line-height: 20px;
      align-items: center;

      color: #ffffff;
    }

    .place {
      font-family: "Open sans";
      font-size: 14px;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.6);
      a {
        color: #d31387;
        text-decoration: none;
      }
    }
  }
}
