@import "../../styles/index";

.header {
  background: transparent;
  padding: 1.45rem 0px;
  @include breakpoint(mobileonly) {
    padding: 2.45rem 0px;
  }
}

.header-container {
  @include breakpoint(mobileonly) {
    margin: 0 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  .item {
    font-size: 18px;
    line-height: 24px;
    margin: 20px;
    color: $text-color;
    text-decoration: none;
    &.active {
      color: $heading-color;
    }
  }
  .menu {
    display: flex;
    align-items: center;
    @include breakpoint(mobileonly) {
      display: none;
    }
  }
}

.logo {
  height: 64px;
  margin: 0;
}
