@import "styles/index";

.header {
  background: transparent;
  padding: 1.45rem 0px;
  @include breakpoint(mobileonly) {
    padding: 2.45rem 20px;
  }
}

.header-container {
  @include breakpoint(mobileonly) {
    //margin: 0 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  .item {
    font-size: 18px;
    line-height: 24px;
    margin: 20px;
    color: var(--text-color);
    text-decoration: none;

    &.active {
      color: var(--heading-color);
    }
    &:hover {
      color: var(--heading-color);
    }
  }
  .menu {
    display: flex;
    align-items: center;
    @include breakpoint(mobileonly) {
      display: none;
    }
  }

  .podcast-icon {
    width: 28px;
    height: 28px;
    margin: 0px 12px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #5f6089;
    &:hover {
      color: var(--heading-color);
    }
  }
}

.logo {
  height: 64px;
  margin: 0;
}
