---
import LogoLight from "@/assets/logo-light.svg?raw";
import { SOCIALS } from "@/config";
import { Icon } from "astro-icon/components";
---

<footer class="bg-black py-12 text-white">
  <div class="container">
    <div class="mb-8">
      <h2 class="mb-2 text-2xl font-bold">You want to contribute?</h2>
      <a
        href="https://github.com/your-repo-link"
        class="text-gray-400 hover:text-white"
      >
        &gt; Source code is on GitHub ↗
      </a>
    </div>

    <div class="grid gap-8 md:grid-cols-2">
      <div>
        <h2 class="mb-4 text-2xl font-bold">Find out more</h2>
        <ul class="space-y-2">
          <li>
            <a
              href="https://blablaconf.com"
              class="text-gray-400 hover:text-white">&gt; blablaconf.com ↗</a
            >
          </li>
          <li>
            <a
              href="https://stateofdev.ma"
              class="text-gray-400 hover:text-white">&gt; stateofdev.ma ↗</a
            >
          </li>
          <li>
            <a
              href="https://awesome-morocco.dev"
              class="text-gray-400 hover:text-white">&gt; awesome-morocco ↗</a
            >
          </li>
          <li>
            <a href="/podcast" class="text-gray-400 hover:text-white"
              >&gt; podcast</a
            >
          </li>
          <li>
            <a href="/about" class="text-gray-400 hover:text-white"
              >&gt; about</a
            >
          </li>
          <li>
            <a href="/brand-assets" class="text-gray-400 hover:text-white"
              >&gt; brand assets</a
            >
          </li>
        </ul>
      </div>

      <div class="flex flex-col items-center md:items-end">
        <Fragment
          set:html={LogoLight}
          alt="GeeksBlabla Logo"
          class="mb-4 w-24"
        />
        <div class="flex space-x-4">
          {
            Object.entries(SOCIALS).map(([key, social]) => (
              <a
                href={social.href}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-gray-400"
              >
                <span class="sr-only">{social.linkTitle}</span>
                <Icon name={key} class="h-6 w-6 text-white" />
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <div class="mt-12 text-center text-gray-400">
      <p>
        Geeksblabla © 2018-{new Date().getFullYear()} / This website was made with
        a computer.
      </p>
    </div>
  </div>
</footer>
