---

---

<section class="container py-8">
  <h1 class="mb-8 text-4xl font-bold">Typography</h1>

  <div class="space-y-8">
    <!-- Display -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Title (Space Grotesk) <br />Font size: 76 | Line height: 105% |
        Tracking: -1%
      </p>
      <h3 class="text-title">Title</h3>
      <h3 class="text-title font-bold">Title Bold</h3>
    </div>

    <!-- Heading large -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Heading large (Space Grotesk) <br /> Font size: 44 | Line height: 125% |
        Tracking: 0%
      </p>
      <h3 class="text-heading-lg">Heading large</h3>
      <h3 class="text-heading-lg font-bold">Heading large bold</h3>
    </div>

    <!-- Heading small -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Heading small (Space Grotesk) <br />Font size: 32 | Line height: 115% |
        Tracking: 0%
      </p>
      <h3 class="text-heading-sm">Heading small</h3>
      <h3 class="text-heading-sm font-bold">Heading small bold</h3>
    </div>

    <!-- Label large -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Label large (Space Grotesk) <br />Font size: 24 | Line height: 150% |
        Tracking: 0%
      </p>
      <h4 class="text-label-lg">Label large</h4>
      <h4 class="text-label-lg font-bold">Label large bold</h4>
    </div>

    <!-- Label small -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Label small (Space Grotesk) <br />Font size: 20 | Line height: 135% |
        Tracking: 1%
      </p>
      <span class="text-label-sm">Label small</span>
      <span class="text-label-sm font-bold">Label small bold</span>
    </div>

    <!-- Paragraph large -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Paragraph large (CommitMono) <br />Font size: 18 | Line height: 165% |
        Tracking: -1%
      </p>
      <span class="text-paragraph-lg">Paragraph large</span>
      <span class="text-paragraph-lg font-bold">Paragraph large bold</span>
    </div>

    <!-- Paragraph small -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Paragraph small (CommitMono) <br />Font size: 16 | Line height: 155% |
        Tracking: -2%
      </p>
      <span class="text-paragraph-sm">Paragraph small</span>
      <span class="text-paragraph-sm font-bold">Paragraph small bold</span>
    </div>

    <!-- Paragraph x-small -->
    <div class="border-t border-neutral-300 pt-8">
      <p class="font-sans text-sm">
        Paragraph x-small (CommitMono) <br />Font size: 14 | Line height: 155% |
        Tracking: -1%
      </p>
      <span class="text-paragraph-xs">Paragraph x-small</span>
      <span class="text-paragraph-xs font-bold">Paragraph x-small bold</span>
    </div>
  </div>
</section>
