@import "styles/index";
// Episodes Types Component

.episodes-types {
  background-image: url(../../../assets/patterns/2.back.svg);
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 15rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  //background-color: $secondary-bg-color;
  .item {
    display: flex;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    &.reverse {
      @include breakpoint(mobileonly) {
        flex-direction: column-reverse;
      }
    }
    .crea {
      @include breakpoint(mobileonly) {
        width: 100%;
      }
    }
    div {
      margin: 5rem 0px;
    }
    h1 {
      position: relative;
    }
    h1::after {
      content: "";
      height: 3px;
      width: 50px;
      display: block;
      background: $main-gradient;
      top: -10px;
      position: absolute;
    }
    p {
      max-width: 400px;
    }
  }
}
