@import "styles/index";

.footer {
  background: $secondary-bg-color;
  color: $text-color;
  padding: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  //color: ;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.2rem;
  }
}
