@import "styles/index";

.footer {
  background: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.4rem;
  }
}
