---
import Header from "@/components/header.astro";
import Layout from "@/components/layout.astro";
import EpisodeContent from "@/components/podcast/episode-content.astro";
import EpisodesList from "@/components/podcast/episodes-list.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";

export async function getStaticPaths() {
  const posts = await getCollection("podcast");
  return posts.map(episode => ({
    params: { slug: episode.data.slug },
    props: episode,
  }));
}
type Props = CollectionEntry<"podcast">;

const episode = Astro.props;
---

<ViewTransitions />
<Layout>
  <div class="bg-[#F2F4F7]">
    <Header transition:persist />
    <div class="container mx-auto py-4 md:py-16">
      <div class="flex flex-row">
        <div class="relative" transition:persist>
          <EpisodesList />
        </div>
        <div class="flex-1">
          <EpisodeContent episode={episode} />
        </div>
      </div>
    </div>
  </div>
</Layout>
