.ais-PoweredBy {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.Hits {
  ul {
    list-style: none;
    margin-left: 0;
  }
  li.ais-Hits-item {
    margin-bottom: 1em;
    a {
      color: #fff;
      h5 {
        margin-bottom: 0.2em;
      }
    }
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
  }
}

.SearchInput {
  margin: 0 10px;
  width: 75%;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  padding: 10px 25px 10px 10px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25);
  position: relative;
  color: #000000;
}
@media only screen and (max-width: 600px) {
  .SearchInput {
    display: none;
  }
}
.result {
  padding: 1em;
  background: #111233;
  /* margin: 0 auto; */
  /* max-height: 300px; */
  overflow: auto;
  width: 100%;
  /* margin: 1em auto; */
  max-height: 50vh;
  /* overflow: scroll; */
  width: 38vw;
}

.sticky {
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 33px;
  font-size: x-large;
  cursor: pointer;
}

.no-results {
  min-height: 40vh;
  margin-top: 25%;
  p {
    text-align: center;
  }
}

.search-container {
  display: flex;
}

input[type="text"] {
  color: var(--heading-color);
  background: var(--secondary-bg-color);
  margin-bottom: 2rem;
  padding: 16px;
  border-radius: 7px;
  border: none;
  &::placeholder {
    color: var(--text-color);
  }
  width: 80%;
}

.search-container div {
  display: flex;

  color: var(--heading-color);
  background: var(--secondary-bg-color);
  border-radius: 30px;
  padding: 16px;
  &::placeholder {
    color: var(--text-color);
  }
  cursor: pointer;
  span {
    margin-left: 7px;
  }
}

@media screen and (max-width: 600px) {
  .search-container {
    float: none;
  }
  a,
  input[type="text"],
  .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type="text"] {
    border: 1px solid #ccc;
  }
}
