---

---

<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="geeksblabla/geeksblabla.community"
  data-repo-id="MDEwOlJlcG9zaXRvcnkxODE1ODIxOTM="
  data-category="Blog Comments"
  data-category-id="DIC_kwDOCtK5cc4Cmi1L"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="light_tritanopia"
  data-lang="en"
  crossorigin="anonymous"
  async></script>
