---
// TODO: Update those values to the new repo and category
const REPO_ID = "MDEwOlJlcG9zaXRvcnkxMjQ5NjM5OTk=";
const CATEGORY_ID = "DIC_kwDOB3LMn84CWls1";
const REPO = "geeksblabla/geeksblabla.com";
---

<section class="giscus mx-auto mt-10 w-full"></section>

<!--  TODO: only activate the script on production  -->
<script
  src="https://giscus.app/client.js"
  data-repo={REPO}
  data-repo-id={REPO_ID}
  data-category="Blog posts"
  data-category-id={CATEGORY_ID}
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="light"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
