---
import { getCollection } from "astro:content";
import { getSortedArticles } from "@/lib/utils";
import CardHomePage from "./blog-card-home-page.astro";
const articles = await getCollection("blog");

const latestArticles = getSortedArticles(articles).slice(0, 3);
---

<section class="bg-[#F2F4F7] py-16">
  <div class="main mx-auto px-4">
    <h2 class="mb-6 text-heading-lg font-bold">Blog</h2>
    <div
      class="grid grid-cols-1 divide-neutral-300 md:grid-cols-2 md:divide-x-2 lg:grid-cols-3"
    >
      {
        latestArticles.map(article => (
          <CardHomePage
            frontmatter={article.data}
            href={`/blog/${article.data.slug}`}
          />
        ))
      }
    </div>
    <div class="mt-16 flex justify-center">
      <a href="/blog" class="text-center text-label-sm font-bold underline">
        Read more articles</a
      >
    </div>
  </div>
</section>
