@import "styles/index";

// Statistics Component

.statistics {
  // background-image: url(../../../assets/patterns/1.back.svg);
  background-position-y: -1px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--secondary-bg-color);
  padding-top: 15rem;
  @include breakpoint(mobileonly) {
    padding-top: 5rem;
  }
  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .item {
    margin: 1rem 1.5rem;
    padding: 0rem 1rem;
    height: 156px;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

    // background-image: url(../../../assets/stats_item.back.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    @include breakpoint(mobileonly) {
      background-position-y: 11px;
    }
  }
  h1 {
    font-size: 2.6rem;
    margin-bottom: 2px;
    margin-top: 2px;
    font-weight: normal !important;
  }
  svg {
    margin-right: 30px;
  }
  p {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
}
