@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-400-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-700-Regular.otf') format('otf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: 'CommitMono', monospace;
  color: #1A1C1E;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  @apply mx-auto w-full 
    px-4 lg:px-0      /* Base padding for smaller screens */
    max-w-[90rem]             /* 1440px max-width */
    sm:max-w-[640px]          
    md:max-w-[768px]          
    lg:max-w-[896px]          /* ~1024px - 128px margins */
    xl:max-w-[1024px]         /* ~1280px - 256px margins */
    2xl:max-w-[1200px];       /* ~1440px - 240px margins */
}



