@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-400-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CommitMono';
  src: url('/fonts/CommitMono-700-Regular.otf') format('otf');
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

body {
  font-family: 'CommitMono', monospace;
  color: #1A1C1E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  @apply mx-auto w-full max-w-screen-lg px-4 md:px-0;
}



