name: Upload Episode To Anchor Fm

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths:
      - "blablas/**"
      - "podcast/**"

jobs:
  upload_episode:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04
    timeout-minutes: 10
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "yarn"

      # Install And Configure youtube-dl
      - name: Install And Configure youtube-dl
        run: |
          sudo curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o /usr/local/bin/yt-dlp
          sudo chmod a+rx /usr/local/bin/yt-dlp

      - name: Install Deps
        run: yarn install --frozen-lockfile

      - name: Generate Podcast Files and Upload Episode To Anchor Using Puppeteer
        env: # Or as an environment variable
          ANCHOR_EMAIL: ${{ secrets.ANCHOR_EMAIL }}
          ANCHOR_PASSWORD: ${{ secrets.ANCHOR_PASSWORD }}
        run: yarn upload-to-anchor
